# Virtual environment
venv/
.venv/

# Environment variables (never push to GitHub)
.env

# ChromaDB vector store
vectorstore/


# Python cache
__pycache__/
*.pyc
*.pyo

# Database file
*.db

# Uploaded books (PDFs)
books/

# VS Code settings
.vscode/